<div id="navbar">
    <a href="{{ path('home') }}"><img id="logo" src="{{ asset('build/images/logoCercle.svg') }}"></a>
    <ul id="list-link">
        <li><a class="navbar-link" href="{{ path('home') }}"> //Accueil</a></li>
        <li><a class="navbar-link" href="{{ path('home') }}"> //A propos</a></li>
        <li><a class="navbar-link" href="{{ path('home') }}"> //Mes projets</a></li>
        <li><a class="navbar-link" href="{{ path('home') }}"> //Contact</a></li>
        <li><a class="navbar-link" href="{{ path('home') }}"> //Mon CV</a></li>
    <ul>