<div id="navbar">
    <a id="reload-home" href="{{ path('home') }}"><img id="logo" src="{{ asset('build/images/logoCercle.svg') }}" alt="logo"></a>
    <ul id="list-link">
        <li><a id="highlight-title" class="navbar-link home-link" href="{{ path('home') }}"> //Accueil</a></li>
        <li><a id="highlight-title" class="navbar-link about-link" href="{{ path('home') }}"> //A propos</a></li>
        <li><a id="highlight-title" class="navbar-link project-link" href="{{ path('home') }}"> //Mes projets</a></li>
        <li><a id="highlight-title" class="navbar-link contact-link" href="{{ path('home') }}"> //Contact</a></li>
        <li><a id="highlight-title" class="navbar-link" href="{{ asset('build/images/files/CV_DESTEPHEN_dev_alternance.pdf') }}" download="CV_DESTEPHEN_dev_alternance.pdf"> //Mon CV<img id="download" src="{{ asset('build/images/download.svg') }}" alt="download"></a></li>
    <ul>
</div>
