<div id="project-container">
    <div id="project-infos">
        <h1 id="project-title">{{ Titre }}</h1>
            <div id="project-description">
                <h2 id="project-space"><img id="space-icon" src="{{ asset('build/images/space.svg') }}">{{ Cadre }}</h2>
                <h2 id="project-long"><img id="duration-icon" src="{{ asset('build/images/duration.svg') }}">{{ Durée }}</h2>
            </div>
    </div>
    <div id="project-git-link">
        <div>
            <a href="https://github.com/NicoDestephen"><img id="gitlink-icon" src="{{ asset('build/images/gitLink.svg') }}"></a>
        </div>
    </div>
    <div id="grow-button">
        <button id="button-grow">
            <img class="arrow" src="{{ asset('build/images/Arrow.svg') }}">
        </button>
    </div>
</div>