<div class="project-field">
    <div id="project-infos">
        <h1 id="project-title">{{ title }}</h1>
        <div id="project-description">
            <h2 id="project-space"><img id="space-icon" src="{{ asset('build/images/space.svg') }}" alt="space-icon">{{ space }}</h2>
            <h2 id="project-long"><img id="duration-icon" src="{{ asset('build/images/duration.svg') }}" alt="duration-icon">{{ duration }}</h2>
            {% if link is not empty %}
                <a href={{ link }} target="_blank" id="project-link"><img id="link-icon" src="{{ asset('build/images/link.svg') }}" alt="link-icon"></a>
            {% endif %}
            {% if gitLink is not empty %}
                <a href={{ gitLink }} target="_blank" id="project-git-link"><img id="gitLink-icon" src="{{ asset('build/images/gitLink.svg') }}" alt="gitLink-icon"></a>
            {% endif %}
        </div>
    </div>
    <div class='description' class='hidden'>
        <h2 id="project-description">Description</h2>
        <p>{{ description }}</p>
    </div>
    <div class="splide thumbnail-carousel" id="thumbnail-carousel">
        <div class="splide__track">
            <ul class="splide__list">
                {% for image_url in image_urls %}
                    <li class="splide__slide">
                        <div id="thumbnail-field">
                            <img class="thumbnail-image" src="{{ image_url }}" alt="thumbnail-image">
                        </div>
                    </li>
                {% endfor %}
             </ul>
        </div>
    </div>
</div>
